  <div class="search">
    <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Helicopters", class: 'form-control' %>
    <% end %>
  </div>
<% @listings.each do |listing| %>
  <%= link_to listing_path(listing) do%>

  <h1><%= listing.title %></h1>
  <h2><%= listing.description %></h2>
    <% if listing.photo.attached? %>
    <%= cl_image_tag listing.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
<% end %>
