<div class="container">
<h1 class="title">Choose Your Helicopter</h1>
  <div class="grid">
    <% @listings.each do |listing| %>
      <% if listing.user_id != @user.id %>
        <%= link_to listing_path(listing) do%>
          <div class="card" style="width: 18rem;">
            <% if listing.photo.attached? %>
              <%= cl_image_tag listing.photo.key, height: 200, width: 400, crop: :fill, class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <div class="card-text">
                <p> <%= listing.description %></p>
                <p> $<%= listing.price %></p>
              </div>
            </div>
        <% end %>
          </div>
      <% end %>
    <% end %>
  </div>

</div>

