<div class="container">
  <ul>
    <% @listing.reviews.each do |review| %>
      <li><%= review.content %></li>
      <%= review.rating %>
    <% end %>
  </ul>
  <h1 class="title"><%= @listing.title %></h1>
<%# Details %>

  <div class="show">
    <% if @listing.photo.attached?%>
      <%= cl_image_tag @listing.photo.key, height: 450, width: 550, crop: :fill =%>
    <% end %>

    <div class="text-container">
      <div class="writing">
        <h3><strong>Title:</strong> <%= @listing.title %></h3>
        <h3><strong>Description:</strong> <%= @listing.description %></h3>
        <h3><strong>Address:</strong> <%= @listing.address %></h3>
        <h3><strong>Price:</strong> $<%= @listing.price %> per day</h3>
        <p>Book this helicopter today. Go anywhere.<br> It comes with a pilot and fuel.<br> <strong>You meet at the address provided</strong></p>
      </div>
      <div class="buttons">
        <div class="admin">
          <% if current_user == @listing.user %>
            <%= link_to "Edit", edit_listing_path(@listing), class: "btn btn-info"%>
            <%= link_to "Delete", listing_path(@listing), method: :delete, data: {:confirm => "Are you sure?"}, class: "btn btn-danger"%>
          <% else %>
            <%= link_to 'Book Now', new_listing_purchase_path(@listing), class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
    <div>

      </div>
    </div>
  </div>
      <div class="text-container">
          <% if current_user == @listing.user %>
          <h1 class="title"> <%= @listing.title %>'s Bookings</h1>
          <ul>
            <% if @purchases.length == 0 %>
              <p>You Have No Bookings Yet</p>
            <% else %>
              <% @purchases.each do |purchase| %>
                <%= link_to listing_purchase_path(purchase.listing,purchase) do %>
                    <li class="list-group-item"><strong>Name:</strong> <%= purchase.listing.title %> - <strong>Start time:</strong> <%= purchase.start_time.strftime('%d-%m-%Y') %> - <strong>Finish time:</strong> <%= purchase.finish_time.strftime('%d-%m-%Y') %> - <strong>Price:</strong> $<%= purchase.total_cost %> - <strong>Status:</strong> <%= purchase.status.titlecase %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
</div>





