<div class="container">

  <h1 class="title"><%= @listing.title %></h1>
<%# Details %>

  <div class="show">
    <% if @listing.photo.attached?%>
      <%= cl_image_tag @listing.photo.key, height: 450, width: 550, crop: :fill =%>
    <% end %>

    <div class="text-container">
      <div class="writing">
        <h3><%= "Title: " =%> <%= @listing.title %></h3>
        <h3><%= "Description: " =%> <%= @listing.description %></h3>
        <h3><%= "Address: " =%><%= @listing.address %></h3>
        <h3><%= "Price: " =%>$<%= @listing.price %> per day</h3>
        <p>Book this helicopter today. Go anywhere.<br> It comes with a pilot and fuel.<br> <strong>You meet at the address provided</strong></p>
      </div>
      <div class="buttons">
        <% if current_user == @listing.user %>
        <div class="admin">
        <%= link_to "Edit", edit_listing_path(@listing), class: "btn btn-info"%>
        <%= link_to "Delete", listing_path(@listing), method: :delete, data: {:confirm => "Are you sure?"}, class: "btn btn-danger"%>
        </div>
        <% else %>
        <%= link_to 'Book Now', new_listing_purchase_path(@listing), class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>





