<div class="container">

  <h1 class="title"><%= @listing.title %></h1>
<%# Details %>

  <div class="show">
    <% if @listing.photo.attached?%>
      <%= cl_image_tag @listing.photo.key, height: 600, width: 550, crop: :fill, class: "image" %>
    <% end %>

    <div id="map" class='map'
     style="width: 550px; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

    <div class="text-container">

      <div class="d-flex justify-content-between">
        <div class="writing">
          <h3 id="listing-description"><%= @listing.description %></h3>
          <p>All helicopters comes with a pilot and fuel.<br> <strong>You must meet at the address provided</strong></p>
        </div>
        <div class="writing" id="right-side">
          <div>
            <h3 id="listing-address"> <%= @listing.address %></h3>
            <h3 id="listing-price">$<%= @listing.price %> per day</h3>
          </div>
        </div>

      </div>
      <div class="buttons">
        <div class="yellow-button">
          <% if current_user == @listing.user %>
            <%= link_to "Edit", edit_listing_path(@listing), class: "btn"%>
            <%= link_to "Delete", listing_path(@listing), method: :delete, data: {:confirm => "Are you sure?"}, class: "btn"%>
          <% else %>
            <%= link_to 'Book Now', new_listing_purchase_path(@listing), class: "btn"%>
          <% end %>
        </div>
      </div>
    </div>

    <div class="text-container">
      <div class="writing">
        <h1 class=title>Reviews</h1>
          <% if @reviews.length > 0 %>
            <% @reviews.each do |review| %>
              <h3>Description: <%= review.content %></h3>
              <h3>Rating: <%= review.rating %></h3>
            <% end %>
            <% else %>
              <p class="text-center"> No one has reviewed the helicopter yet.</p>
            <% end %>
      </div>
    </div>


      <% if current_user == @listing.user %>
      <div class="text-container">
        <h1 class="title"> <%= @listing.title %>'s Bookings</h1>
        <ul>
          <% if @purchases.length == 0 %>
            <p class="text-center">You Have No Bookings Yet</p>
          <% else %>
            <% @purchases.each do |purchase| %>
              <%= link_to listing_purchase_path(purchase.listing,purchase) do %>
                  <li class="list-group-item"><strong>Name:</strong> <%= purchase.listing.title %> - <strong>Start time:</strong> <%= purchase.start_time.strftime('%d-%m-%Y') %> - <strong>Finish time:</strong> <%= purchase.finish_time.strftime('%d-%m-%Y') %> - <strong>Price:</strong> $<%= purchase.total_cost %> - <strong>Status:</strong> <%= purchase.status.titlecase %></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
    </div>
  <% end %>
</div>





