
<h1> New Listing</h1>

<%# Details %>
<%= "Title: " =%> 
<%= @listing.title =%> <br>
<%= "Description: " =%> 
<%= @listing.description =%> <br>
<%= "Address: " =%> 
<%= @listing.address =%> <br>
<%= "Price: " =%> 
<%= @listing.price =%> <br>



<%# Buttons %>
<%= link_to "Edit", edit_listing_path(@listing)%>
<%= link_to "Delete", listing_path(@listing), method: :delete, data: {:confirm => "Are you sure?"}%> <br>


<%# Image %>
<%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill =%>
