<div class="container">
  <h1 class="title">My bookings</h1>
  <ul class="list-group">
    <% @purchases.each do |purchase| %>
      <%= link_to listing_purchase_path(purchase.listing,purchase) do %>
          <li class="list-group-item"><%= purchase.listing.title %> - Start time: <%= purchase.start_time.strftime('%d-%m-%Y') %> - Finish time: <%= purchase.finish_time.strftime('%d-%m-%Y') %> - $<%= purchase.total_cost %></li>
      <% end %>
  <% end %>
  </ul>
</div>
