<div class="container">
  <% if @purchases.length == 0 %>
    <p>Still not booked a helicopter?</p>
    <%= link_to "Rent Your First Helicopter", listings_path %>
  <% else %>
  <ul class="list-group">
    <% @purchases.each do |purchase| %>
      <%= link_to listing_purchase_path(purchase.listing,purchase) do %>
          <li class="list-group-item"><%= purchase.listing.title %> - Start time: <%= purchase.start_time %> - Finish time: <%= purchase.finish_time %> - $<%= purchase.total_cost %></li>
      <% end %>
    <% end %>
  </ul>
  <% end %>
</div>
